.react-table-page-table-more-action,
.react-back-page-table {
  .table-action {
    color: #1890ff;
    cursor: pointer;
    font-size: 14px;
    &.disabled {
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }
  }
}
