.react-back-page-search-box {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 10px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  .search-form {
    display: flex;
    flex-wrap: wrap;
  }
  .ase {
    align-self: flex-end;
  }
  .btn-item {
    display: inline-block;
    margin-right: 10px;
  }
  .label-btn {
    height: 10px;
  }
  .search-item {
    margin-right: 10px;
    margin-bottom: 10px !important;
    p.label {
      font-size: 12px;
      margin-bottom: 3px;
      color: rgba(0, 0, 0, 0.6);
      letter-spacing: 0;
      line-height: 20px;
    }
    input.back-page-search-input,
    .back-page-search-date-picker,
    .ant-select {
      height: 32px;
      width: 250px;
    }
    .fold-box {
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      font-size: 14px;
      span {
        color: #1890ff;
      }
    }
  }
}
